launch-ros==0.19.8
nav2-simple-commander==1.0.0
rqt-service-caller==1.0.5
rqt-moveit==1.0.1
rqt-msg==1.2.0
launch-xml==1.0.7
demo-nodes-py==0.20.5
ros2topic==0.18.11
rqt-bag-plugins==1.1.5
rqt-graph==1.3.1
ros2pkg==0.18.11
ros2action==0.18.11
ros2doctor==0.18.11
ros2lifecycle==0.18.11
ament-uncrustify==0.12.11
rqt==1.1.7
rqt-gauges==0.0.3
ament-cpplint==0.12.11
examples-rclpy-minimal-subscriber==0.15.3
ros2component==0.18.11
rqt-joint-trajectory-controller==2.39.0
ament-lint-cmake==0.12.11
rqt-py-console==1.0.2
ros2interface==0.18.11
rqt-publisher==1.5.0
examples-rclpy-minimal-client==0.15.3
ament-pep257==0.12.11
ros2multicast==0.18.11
teleop-twist-keyboard==2.4.0
ros2bag==0.15.13
launch-testing==1.0.7
rqt-action==2.0.1
ros2service==0.18.11
launch-testing-ros==0.19.8
examples-rclpy-minimal-publisher==0.15.3
ros2cli==0.18.11
examples-rclpy-executors==0.15.3
rqt-robot-monitor==1.0.6
quality-of-service-demo-py==0.20.5
ament-copyright==0.12.11
ros2run==0.18.11
rqt-gui-py==1.1.7
rqt-gui==1.1.7
ros2param==0.18.11
topic-monitor==0.20.5
ament-cppcheck==0.12.11
rqt-robot-dashboard==0.5.8
ament-lint==0.12.11
rqt-tf-tree==1.0.5
rqt-console==2.0.3
examples-rclpy-minimal-action-server==0.15.3
rqt-bag==1.1.5
ament-package==0.14.0
joint-state-publisher==2.4.0
launch-yaml==1.0.7
rqt-dotgraph==0.0.4
rosidl-cli==3.1.6
rqt-controller-manager==2.46.0
rosidl-runtime-py==0.9.3
ros2node==0.18.11
rqt-runtime-monitor==1.0.0
rqt-shell==1.0.2
ament-xmllint==0.12.11
action-tutorials-py==0.20.5
sensor-msgs-py==4.2.4
camera-calibration==3.0.6
ros2launch==0.19.8
rqt-robot-steering==1.0.0
rqt-srv==1.0.3
examples-rclpy-minimal-action-client==0.15.3
ament-flake8==0.12.11
osrf-pycommon==2.1.4
tf2-ros-py==0.25.9
ament-index-python==1.4.0
tf2-tools==0.25.9
rqt-reconfigure==1.1.2
rqt-topic==1.5.0
domain-coordinator==0.10.0
sros2==0.10.5
launch==1.0.7
rpyutils==0.2.1
rqt-plot==1.1.2
joint-state-publisher-gui==2.4.0
examples-rclpy-minimal-service==0.15.3
gazebo-msgs==3.7.0
qt-gui==2.2.3
rosgraph-msgs==1.2.1
diagnostic-msgs==4.2.4
lifecycle-msgs==1.2.1
controller-manager-msgs==2.46.0
gps-msgs==2.0.4
rosidl-typesupport-fastrtps-cpp==2.2.2
controller-manager==2.46.0
mocap4r2-control-msgs==0.0.7
unique-identifier-msgs==2.2.1
pendulum-msgs==0.20.5
visualization-msgs==4.2.4
rosidl-typesupport-introspection-cpp==3.1.6
stereo-msgs==4.2.4
xacro==2.0.8
ros-gz-interfaces==0.244.16
pcl-msgs==1.0.0
tf2-geometry-msgs==0.25.9
nav2-msgs==1.1.17
rosidl-typesupport-cpp==2.0.2
map-msgs==2.1.0
ros-ign-interfaces==0.244.16
composition-interfaces==1.2.1
std-srvs==4.2.4
slam-toolbox==2.6.9
sensor-msgs==4.2.4
vision-msgs==4.1.1
image-geometry==3.2.1
ament-cmake-test==1.3.11
nav-2d-msgs==1.1.17
diagnostic-updater==4.0.0
cv-bridge==3.2.1
nav-msgs==4.2.4
test-msgs==1.2.1
message-filters==4.3.5
scripts==3.7.0
rqt-py-common==1.1.7
rosidl-typesupport-introspection-c==3.1.6
rmw-dds-common==1.6.0
rosidl-generator-py==0.14.4
bond==3.0.2
rosidl-cmake==3.1.6
statistics-msgs==1.2.1
std-msgs==4.2.4
octomap-msgs==2.0.1
velodyne-msgs==2.5.1
nav2-common==1.1.17
action-msgs==1.2.1
rosidl-adapter==3.1.6
qt-dotgraph==2.2.3
turtlesim==1.4.2
interactive-markers==2.3.2
tf2-kdl==0.25.9
grid-map-msgs==2.0.0
tf2-msgs==0.25.9
realsense2-camera-msgs==4.55.1
ackermann-msgs==2.0.2
trajectory-msgs==4.2.4
qt-gui-py-common==2.2.3
resource-retriever==3.1.2
qt-gui-cpp==2.2.3
smclib==3.0.2
rosidl-parser==3.1.6
rosidl-generator-cpp==3.1.6
angles==1.15.0
actuator-msgs==0.0.1
builtin-interfaces==1.2.1
control-msgs==4.7.0
rosidl-typesupport-fastrtps-c==2.2.2
actionlib-msgs==4.2.4
theora-image-transport==2.5.2
rcutils==5.1.6
rosidl-typesupport-c==2.0.2
example-interfaces==0.9.3
python-qt-binding==1.1.2
shape-msgs==4.2.4
rcl-interfaces==1.2.1
geometry-msgs==4.2.4
tf2-py==0.25.9
rosbag2-interfaces==0.15.13
action-tutorials-interfaces==0.20.5
rosbag2-py==0.15.13
laser-geometry==2.4.0
rosidl-generator-c==3.1.6
rclpy==3.3.15
dwb-msgs==1.1.17
logging-demo==0.20.5
SAM-2==1.0
GitPython==3.1.44
stack-data==0.6.3
asttokens==3.0.0
python-dotenv==1.1.0
h5py==3.14.0
jedi==0.19.2
lazy_loader==0.4
Jinja2==3.1.4
fonttools==4.57.0
nvidia-cusolver-cu11==11.4.1.48
pytorch-ranger==0.1.1
ipykernel==6.29.5
protobuf==6.31.1
pytorch-lamb==1.0.0
ipython_pygments_lexers==1.1.1
torchaudio==2.7.1+cu118
mistune==3.1.3
uvicorn==0.34.3
MarkupSafe==2.1.5
rich==14.0.0
tensorboardX==2.6.4
packaging==25.0
scikit-image==0.25.2
nest-asyncio==1.6.0
urllib3==2.4.0
mdurl==0.1.2
networkx==3.3
cffi==1.17.1
jsonpointer==3.0.0
torchmetrics==1.7.4
sse-starlette==2.3.6
debugpy==1.8.14
nvidia-cublas-cu11==11.11.3.6
lion-pytorch==0.2.3
pillow==11.2.1
nbconvert==7.16.6
nbformat==5.10.4
argon2-cffi-bindings==21.2.0
typing-inspection==0.4.1
click==8.2.1
fsspec==2024.6.1
mcp==1.9.4
opencv-python==4.11.0.86
babel==2.17.0
jupyter_client==8.6.3
httpcore==1.0.9
parso==0.8.4
decorator==5.2.1
arrow==1.3.0
httpx==0.28.1
jupyterlab_pygments==0.3.0
nvidia-cufft-cu11==10.9.0.58
ipython==9.4.0
psutil==7.0.0
python-dateutil==2.9.0.post0
fastmcp==2.8.0
scipy==1.16.0
exceptiongroup==1.3.0
idna==3.10
tabulate==0.9.0
comm==0.2.2
fastjsonschema==2.21.1
pyzmq==27.0.0
jupyterlab_server==2.27.3
nvidia-cudnn-cu11==9.1.0.70
smmap==5.0.2
jupyter_core==5.8.1
isoduration==20.11.0
prompt_toolkit==3.0.51
soupsieve==2.7
nbclient==0.10.2
argon2-cffi==25.1.0
jupyter-lsp==2.2.5
executing==2.2.0
certifi==2025.4.26
pip==25.1.1
httpx-sse==0.4.0
wandb==0.21.0
h11==0.16.0
colorama==0.4.6
openapi-pydantic==0.5.1
cryptography==45.0.4
jsonschema==4.24.0
typer==0.16.0
sentry-sdk==2.32.0
mpmath==1.3.0
torch==2.7.1+cu118
tifffile==2025.6.11
fqdn==1.5.1
adabelief-pytorch==0.2.1
nvidia-nccl-cu11==2.21.5
python-json-logger==3.3.0
websocket-client==1.8.0
sympy==1.13.3
six==1.17.0
nvidia-cuda-cupti-cu11==11.8.87
gdown==5.2.0
nvidia-cuda-runtime-cu11==11.8.89
paho-mqtt==2.1.0
pycparser==2.22
jupyter_server_terminals==0.5.3
nvidia-nvtx-cu11==11.8.86
gitdb==4.0.12
tinycss2==1.4.0
omegaconf==2.3.0
contourpy==1.3.2
starlette==0.47.0
torchvision==0.22.1+cu118
webencodings==0.5.1
requests==2.32.4
PyYAML==6.0.2
nvidia-curand-cu11==10.3.0.86
matplotlib==3.10.1
rfc3986-validator==0.1.1
shellingham==1.5.4
pydantic_core==2.33.2
matplotlib-inline==0.1.7
annotated-types==0.7.0
Authlib==1.6.0
pydantic==2.11.7
sniffio==1.3.1
anyio==4.9.0
pandocfilters==1.5.1
Send2Trash==1.8.3
jupyterlab==4.4.4
platformdirs==4.3.8
ptyprocess==0.7.0
async-lru==2.0.5
prometheus_client==0.22.1
nvidia-cusparse-cu11==11.7.5.86
webcolors==24.11.1
hydra-core==1.3.2
bleach==6.2.0
uv==0.6.16
json5==0.12.0
typing_extensions==4.14.0
triton==3.3.1
numpy==2.2.5
jupyter_server==2.16.0
jupyter-events==0.12.0
kiwisolver==1.4.8
rpds-py==0.26.0
markdown-it-py==3.0.0
lightning-utilities==0.14.3
attrs==25.3.0
tornado==6.5.1
cycler==0.12.1
charset-normalizer==3.4.2
referencing==0.36.2
imageio==2.37.0
terminado==0.18.1
Pygments==2.19.1
traitlets==5.14.3
setuptools==65.5.0
pure_eval==0.2.3
jsonschema-specifications==2025.4.1
types-python-dateutil==2.9.0.20250516
antlr4-python3-runtime==4.9.3
PySocks==1.7.1
pexpect==4.9.0
notebook_shim==0.2.4
sophia-optim==0.0.6
overrides==7.7.0
pyparsing==3.2.3
beautifulsoup4==4.13.4
wcwidth==0.2.13
uri-template==1.3.0
nvidia-cuda-nvrtc-cu11==11.8.89
torch-optimizer==0.3.0
pydantic-settings==2.9.1
rfc3339-validator==0.1.4
python-multipart==0.0.20
defusedxml==0.7.1
tqdm==4.67.1
filelock==3.18.0
